.sub-buttons{
    width: 100%;
    background: #68b2e6;
    position: absolute;
    bottom: 0;
    height: 60px;

    .button{
        display: inline-block;
        width: 49%;
        margin: 0;
        text-align: center;

        a{
            text-decoration: none;
            font-size: 20px;
            color: #fff;
            padding: 16px;
            width: 100%;
            display: inline-block;
        }
    }

    .button:last-child{
        border-left: 3px solid #fff;
    }
}

.login-form{
    margin-top: 20px;

    button{
        width: 100%;
    }
}

.list-group i{
    color: red;
    font-size: 15px;
}

.navbar-header{
    padding-top: 9px;
    height: 70px;

    .navbar-brand{
        font-size: 25px;
    }
}

.empty-state{
    text-align: center;
    margin-top: 50px;

    img {
        width: 210px;
    }
}

.friend-name{
    display: inline-block;
    width: 100%;
    margin-top: 5px;

    h4{ display: inline-block; }

    a{ margin-top: 5px; }
}

hr{
    margin-top: 10px;
}